html, body {
  margin: 0;
}

h1, a {
  font-family:'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: Helvetica;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.main {
  text-align: center;
  background: url("http://i.imgur.com/S2nuYY3.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
}

.main .container {
  position: relative;
  top: 100px;
}

.main h1{
  color:#fff;
  margin: 0;
  font-size: 150px;
}

.main p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 30px;
  
h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
  
ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}
  
li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}
  

  

  

  
